
.cart {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background: #fff;
    box-shadow: 0px 0px 5px #d4d4d4;
    font-size: 16px;
    transition: all .5s ease;
    z-index:3;
}
.activo {
    right: 0;
}
.cart #minicart {
    padding: 1.3rem;
}
.cart #minicart .button {
    margin-top: 2rem;
}
.cart table {
    border-collapse: collapse;
}
.cart th, .cart td {
    padding: 10px;
    text-align: left;
}
.closecart {
    font-size: 3rem;
    position: absolute;
    right: 10px;
    color: black;
}
.deletebtn {
    display: block;
    background: #E20000;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 100%;
    line-height: 1.5rem;
    font-size: 0.8rem;
    font-weight: bold;
}
@media screen and (max-width:600px) {
    .cart{width:100%;}
}